.obr1 {
    width: 800px;
    height: 600px;
}

.logo-container {
    display: flex;
    justify-content: center; /* Align items horizontally at the center */
    align-items: center; /* Align items vertically at the center */
}

.logo-container img {
    max-width: 100%; /* Ensure the image does not exceed its container width */
    max-height: 100px; /* Example maximum height for the logo */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

header {
    background-color: white; /* Updated to white background */
    color: black; /* Updated to black text color */
    text-align: center;
    padding: 1em 0;
    border-bottom: 1px solid #ccc; /* Horizontal line separating header and body */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: black; /* Updated to black text color */
}

a {
    color: black; /* Set the text color to black */
    padding: 14px 16px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: white; /* Updated to white background */
    color: black; /* Updated to black text color */
    border-top: 1px solid #ccc; /* Horizontal line separating body and footer */
}

/* Add styling for the dynamic content */
details {
    margin-bottom: 20px;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

details > p {
    margin-top: 0;
}

/* JavaScript style */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
}

/* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

/* Optional: Add navigation dots */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    color: blue;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

/* Light/Dark mode */
.container {
    max-width: 800px;
    margin: left auto;
    color: #333;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.comment {
    margin-bottom: 10px;
}
